
    /* Global SCSS */

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'sidenav header'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
    /* transition: max-width .1s ease*/
}

.grid-container.collapsed {
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'sidenav header'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
    /*transition: max-width .1s ease*/
}


/* Give every child element its grid name */
.header {
    grid-area: header;
    background-color: #648ca6;
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
     */
}

.header-container {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 35px 100px 1fr;
    align-items: center;
    padding:0px 20px;


}

.header__toggle {
    margin-right: 10px;
}

.header__search {

}

.header__avatar {
    /*margin-top: 5px;*/
    /*padding-top: 5px;*/
    justify-self: flex-end;
}
.sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
    background-color: #394263;
}

.main {
    grid-area: main;
    background-color: #8fd4d9;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
}

.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
}
.work-area {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
    height: 485px;
}

.card:nth-child(2) {
    height: 200px;
}

.card:nth-child(3) {
    height: 265px;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}


/*
   .v-sidebar-menu {
       padding: 0;
       !*
       margin-top: 85px;
       *!
       list-style-type: none;
       transition: max-width;

   }
*/

